:root{
    --font-color: #AAA;
    --font-color-dark: #000;
    --primary-color: #FFF;
    --secondary-color: #EEEEEE;
}
body{
    background-color: #EEE;
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: var(--primary-color);
    width: 320px;
    height: 550px;
    margin: 50px auto;
    padding: 30px 50px;
    text-align: center;
    border: 2px solid #CCC;
}
/*
    Cabeçalho
*/
.titulo{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    color: var(--font-color-dark);
}
.subtitulo{
    color: var(--font-color);
    font-size: 1.1em;
    font-weight: 550;
    margin-bottom: 15px;
    font-family:Arial, Helvetica, sans-serif ;
}
/*
    Principal
*/
.login-facebook>button{
    width: 100%;
    height: 35px;
    margin: 10px 0px;
    padding: 10px;
    padding-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: #009BF8; 
    display: flex;
    justify-content: center;
    color: #FFF;
    font-weight: 550;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.login-facebook>button:active{
    transform: scale(0.98);
    background-color: #008be1;
}
.login-facebook>button>*{
    margin: 0 5px;
    height: 1.2rem;
    color: #FFF;
    background-color: transparent;

}
.divisao{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divisao-barra{
    width: 40%;
    height: 1px;
    background-color: #CCC;
}

/*
    --Formulário
*/
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario>*{
    margin: 5px 0;
    padding: 10px 10px;
    border: 1px solid #BBB;
    border-radius: 3px;
}
.formulario-text-input{
    background-color: var(--secondary-color);
    opacity: 60%;
}
.formulario-text-input:focus{
    outline: 0;
}
.formulario-submit{
    margin-top: 15px;
    background-color: #009BF8;
    color: #FFF;
    font-weight: 550;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.formulario-submit:active{
    transform: scale(0.98);
    background-color: #008be1;
}

/*
    Rodapé
*/
.rodape>p{
    padding: 0 25px;
    font-size: 0.9em;
}
.rodape>p>span{
    font-weight: bold;
}