:root{
    --background-white: #FFFFFF;
    --list-item-primary: #FFFFFF;
    --list-item-secondary: #ebf2f7;
    --btn-color: #2280DE;
    --font-family: 'Trebuchet MS', Arial, sans-serif, Courier, monospace;;
}
body{
    padding: 0 15px;
    background-color: var(--background-white);
    font-family: var(--font-family);
    overflow-x: hidden;
}
/*
    -- Cabecalho
*/ 
.header>*{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }
.header-first{
    align-items: center;
    margin-top: 30px;
}
.header-first > div{
    display: flex;
    align-items: center;
}
.header-tittle{
    font-size: 1.8rem;
    margin: 0px;
}
.header-tittle + p{
    margin-bottom: 10px;
    
}
.input-search{
    width: 40vh;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    
}
.input-seach::placeholder{
    color: #CCCCCC;
    
}
.btn-blue{
    height: 35px;
    padding: 7px 12px;
    background-color: var(--btn-color);
    color: var(--background-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.select-pages-quantity{
    margin: 0;
}
.select-pages-quantity > select{
    height: 35px;
    width: 10ch;
}
/*
    -- Conteudo principal
*/
.table{
    width: 100%;
    margin: 15px 0;
    background-color: var(--list-item-primary);
    user-select: none;
    cursor: default;
}
.table-colName{
    width: 40%
}
.table-colLastname{
    width: 30%
}
.table-colEmail{
    width: 30%
}
.table th{
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}
.table td,.table th{
    margin: 0;
    padding: 15px;
}
.table .table-row:nth-child(2n){
    background-color: var(--list-item-secondary);
}
.table thead{
    background-color: var(--list-item-primary);
}
.table .table-name{
    padding-left: 5%; 
}
.table-row.invisible{
    display: none;
}
/*
    Sort Buttons
*/
.sort-button{
    position: relative;
    height: 1em;
    background: none;
    border: none;
}
.sort-button img{
    position: absolute;
    width: 0.8rem;
    left: 0;
    opacity: 30%;
}
.sort-button img:first-child{
    bottom: 0.5rem;
}
.sort-button img:last-child{
    top: 0.1rem;
}
.sort-button img.active{
    opacity: 100%;
}
/*
    -- Formulário
*/
#register {
    display: flex;
    align-items: baseline;
}
#register > div{
    display: flex;
    flex-direction: column;
}
#register-form{
    float: right;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
#register-form > input{
    height: 30px;
    margin: 2px 10px;
    
}
.form-on{
    transform: translateX(0px);
    transition: 0.5s;
}
.form-off{
    transform: translateX(215px);
    transition: 0.5s;
}
.error-message{
    
    color: #FF0000;
    font-weight: 600;
}